In [138]:
#Data Exploration by Crystal Butler

import pandas as pd
csv_data = "Resources/pokemon.csv"

In [139]:
pokemon_df = pd.read_csv(csv_data)

In [140]:
pokemon_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [141]:
csv_data2 = "Resources/combats.csv"

In [142]:
battles_df = pd.read_csv(csv_data2)

In [143]:
battles_df = battles_df.sort_values('First_pokemon')

In [144]:
battles_df.head()

       First_pokemon  Second_pokemon  Winner
15176              1             372     372
45814              1             462     462
17362              1               6       6
15251              1             649     649
4883               1             285       1

In [145]:
initial_value = 1
battles_df['Battle_number'] = range(initial_value, len(battles_df) +initial_value)

In [146]:
battles_df.head()

       First_pokemon  Second_pokemon  Winner  Battle_number
15176              1             372     372              1
45814              1             462     462              2
17362              1               6       6              3
15251              1             649     649              4
4883               1             285       1              5

In [147]:
battles_df['Did_the_first_pokemon_win?'] = (battles_df['First_pokemon'] == battles_df['Winner']).astype(int)

In [148]:
battles_df.head()

,First_pokemon,Second_pokemon,Winner,Battle_number,Did_the_first_pokemon_win?
15176,1,372,372,1,0
45814,1,462,462,2,0
17362,1,6,6,3,0
15251,1,649,649,4,0
4883,1,285,1,5,1

In [149]:
battles2_df = battles_df.copy()

In [150]:
battles2_df = battles2_df.iloc[:,[1,0,2,3]]

In [151]:
battles2_df.head()

       Second_pokemon  First_pokemon  Winner  Battle_number
15176             372              1     372              1
45814             462              1     462              2
17362               6              1       6              3
15251             649              1     649              4
4883              285              1       1              5

In [152]:
battles2_df['Did_the_first_pokemon_win?'] = (battles2_df['Second_pokemon'] == battles2_df['Winner']).astype(int)

In [153]:
battles2_df.head()

,Second_pokemon,First_pokemon,Winner,Battle_number,Did_the_first_pokemon_win?
15176,372,1,372,1,1
45814,462,1,462,2,1
17362,6,1,6,3,1
15251,649,1,649,4,1
4883,285,1,1,5,0

In [154]:
battles2_df.rename(columns = {'Second_pokemon':'First_pokemon', 'First_pokemon':'Second_pokemon'}, inplace = True)

In [155]:
battles2_df.head()

,First_pokemon,Second_pokemon,Winner,Battle_number,Did_the_first_pokemon_win?
15176,372,1,372,1,1
45814,462,1,462,2,1
17362,6,1,6,3,1
15251,649,1,649,4,1
4883,285,1,1,5,0

In [156]:

all_battles_df = pd.concat([battles_df, battles2_df], axis=0)

In [157]:
all_battles_df = all_battles_df.sort_values('Battle_number')

In [158]:
all_battles_df.dtypes

First_pokemon                 int64
Second_pokemon                int64
Winner                        int64
Battle_number                 int32
Did_the_first_pokemon_win?    int32
dtype: object

In [159]:
merged_df = pd.merge(all_battles_df,pokemon_df, how='inner', left_on=['First_pokemon'], right_on = ['#'])
#new_df = pd.merge(all_battles_df, pokemon_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])
merged_df.head()

,First_pokemon,Second_pokemon,Winner,Battle_number,Did_the_first_pokemon_win?,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,372,372,1,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,1,462,462,2,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,1,6,6,3,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
3,1,649,649,4,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,1,285,1,5,1,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [160]:
merged_df = merged_df.iloc[:,[3,0,6,1,2,4]]

In [161]:
merged_df.rename(columns = {'Name':'First_name'},inplace = True)
#battles2_df.rename(columns = {'Second_pokemon':'First_pokemon', 'First_pokemon':'Second_pokemon'}, inplace = True)

In [162]:
merged_df

,Battle_number,First_pokemon,First_name,Second_pokemon,Winner,Did_the_first_pokemon_win?
0,1,1,Bulbasaur,372,372,0
1,2,1,Bulbasaur,462,462,0
2,3,1,Bulbasaur,6,6,0
3,4,1,Bulbasaur,649,649,0
4,5,1,Bulbasaur,285,1,1
...,...,...,...,...,...,...
99995,46765,141,Gyarados,748,748,0
99996,47021,141,Gyarados,752,141,1
99997,48267,141,Gyarados,772,772,0
99998,48770,141,Gyarados,780,141,1
99999,49642,141,Gyarados,795,141,1

In [163]:
merged_df = pd.merge(merged_df,pokemon_df, how='inner', left_on=['Second_pokemon'], right_on = ['#'])

In [164]:
merged_df.head()

,Battle_number,First_pokemon,First_name,Second_pokemon,Winner,Did_the_first_pokemon_win?,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,1,Bulbasaur,372,372,0,372,Barboach,Water,Ground,50,48,43,46,41,60,3,False
1,23232,638,Gothitelle,372,638,1,372,Barboach,Water,Ground,50,48,43,46,41,60,3,False
2,24480,391,Tropius,372,372,0,372,Barboach,Water,Ground,50,48,43,46,41,60,3,False
3,23257,717,Meloetta Pirouette Forme,372,717,1,372,Barboach,Water,Ground,50,48,43,46,41,60,3,False
4,23218,558,Tepig,372,372,0,372,Barboach,Water,Ground,50,48,43,46,41,60,3,False

In [165]:
merged_df.rename(columns = {'Name':'Second_name'},inplace = True)

In [166]:
merged_df = merged_df.iloc[:,[0,1,2,3,7,4,5]]

In [167]:
merged_df = merged_df.sort_values('Battle_number')

In [168]:
merged_df

,Battle_number,First_pokemon,First_name,Second_pokemon,Second_name,Winner,Did_the_first_pokemon_win?
0,1,1,Bulbasaur,372,Barboach,372,0
15447,1,372,Barboach,1,Bulbasaur,372,1
15448,2,462,Mothim,1,Bulbasaur,462,1
148,2,1,Bulbasaur,462,Mothim,462,0
15449,3,6,Charmeleon,1,Bulbasaur,6,1
...,...,...,...,...,...,...,...
15444,49998,132,Mr. Mime,800,Volcanion,132,1
32251,49999,800,Volcanion,157,Articuno,157,0
15394,49999,157,Articuno,800,Volcanion,157,1
32659,50000,800,Volcanion,196,Ampharos,800,1
15424,50000,196,Ampharos,800,Volcanion,800,0

In [169]:
winner_df_names = merged_df.iloc[:,[0,2,4,6]]

In [170]:
winner_df_names

       Battle_number  First_name Second_name  Did_the_first_pokemon_win?
0                  1   Bulbasaur    Barboach                           0
15447              1    Barboach   Bulbasaur                           1
15448              2      Mothim   Bulbasaur                           1
148                2   Bulbasaur      Mothim                           0
15449              3  Charmeleon   Bulbasaur                           1
...              ...         ...         ...                         ...
15444          49998    Mr. Mime   Volcanion                           1
32251          49999   Volcanion    Articuno                           0
15394          49999    Articuno   Volcanion                           1
32659          50000   Volcanion    Ampharos                           1
15424          50000    Ampharos   Volcanion                           0

[100000 rows x 4 columns]

In [172]:
#importing in scraped web data to bring in Pokemon tiers info

csv_data3 = "Resources/pokemon_with_tiers.csv"
tiers_df = pd.read_csv(csv_data3)

In [173]:
#viewing dataframe
tiers_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Tier
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,LC
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NFE
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,RU
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,OU
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,LC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,794,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,Uber
740,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,RU
741,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,OU
742,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,Uber
743,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,OU

In [176]:
#merging tier_df and merged_w_tiers dataframe, so First Name can have it's attributes associated with the pokemon that have battled
merged_w_tiers = pd.merge(tiers_df,merged_df, how='left', left_on=['Name'], right_on=['First_name'])

In [177]:
#viewing dataframe
merged_w_tiers

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Tier,Battle_number,First_pokemon,First_name,Second_pokemon,Second_name,Winner,Did_the_first_pokemon_win?
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,LC,1.0,1.0,Bulbasaur,372.0,Barboach,372.0,0.0
1,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,LC,2.0,1.0,Bulbasaur,462.0,Mothim,462.0,0.0
2,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,LC,3.0,1.0,Bulbasaur,6.0,Charmeleon,6.0,0.0
3,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,LC,4.0,1.0,Bulbasaur,649.0,Emolga,649.0,0.0
4,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,LC,5.0,1.0,Bulbasaur,285.0,Poochyena,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93132,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,OU,49996.0,800.0,Volcanion,1.0,Bulbasaur,800.0,1.0
93133,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,OU,49997.0,800.0,Volcanion,280.0,Mega Blaziken,280.0,0.0
93134,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,OU,49998.0,800.0,Volcanion,132.0,Mr. Mime,132.0,0.0
93135,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,OU,49999.0,800.0,Volcanion,157.0,Articuno,157.0,0.0
93136,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,OU,50000.0,800.0,Volcanion,196.0,Ampharos,800.0,1.0

In [193]:
#merging tier_df and merged_w_tiers dataframe, so Second Name can have it's attributes as well
merged_w_tiers2 = pd.merge(tiers_df,merged_w_tiers, how='left', left_on=['Name'], right_on=['Second_name']).sort_values('Battle_number')

In [182]:
#viewing columns for renaming
merged_w_tiers2.columns

Index(['#_x', 'Name_x', 'Type 1_x', 'Type 2_x', 'HP_x', 'Attack_x',
       'Defense_x', 'Sp. Atk_x', 'Sp. Def_x', 'Speed_x', 'Generation_x',
       'Legendary_x', 'Tier_x', '#_y', 'Name_y', 'Type 1_y', 'Type 2_y',
       'HP_y', 'Attack_y', 'Defense_y', 'Sp. Atk_y', 'Sp. Def_y', 'Speed_y',
       'Generation_y', 'Legendary_y', 'Tier_y', 'Battle_number',
       'First_pokemon', 'First_name', 'Second_pokemon', 'Second_name',
       'Winner', 'Did_the_first_pokemon_win?'],
      dtype='object')

In [183]:
#Renaming columns to reflect which attributes go to which Pokemon (First or Second)
merged_w_tiers2 = merged_w_tiers2.rename(columns={'#_x':'#_Second', 'Name_x':'Second_Name', 'Type 1_x':'Type 1_Second', 'Type 2_x':'Type 2_Second', 'HP_x':'HP_Second', 'Attack_x':'Attack_Second',
       'Defense_x':'Defense_Second', 'Sp. Atk_x':'Sp. Atk_Second', 'Sp. Def_x':'Sp. Def_Second', 'Speed_x':'Speed_Second', 'Generation_x':'Generation_Second',
       'Legendary_x':'Legendary_Second', 'Tier_x':'Tier_Second', '#_y':'#_First', 'Name_y':'First_Name', 'Type 1_y':'Type 1_First', 'Type 2_y':'Type 2_First',
       'HP_y':'HP_First', 'Attack_y':'Attack_First', 'Defense_y':'Defense_First', 'Sp. Atk_y':'Sp. Atk_First', 'Sp. Def_y':'Sp. Def_First', 'Speed_y':'Speed_First',
       'Generation_y':'Generation_First', 'Legendary_y':'Legendary_First', 'Tier_y':'Tier_First' })

In [185]:
#Sorting by Battle Number
merged_w_tiers2.sort_values('Battle_number')

,#_Second,Second_Name,Type 1_Second,Type 2_Second,HP_Second,Attack_Second,Defense_Second,Sp. Atk_Second,Sp. Def_Second,Speed_Second,...,Generation_First,Legendary_First,Tier_First,Battle_number,First_pokemon,First_name,Second_pokemon,Second_name,Winner,Did_the_first_pokemon_win?
65,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,3.0,False,LC,1.0,372.0,Barboach,1.0,Bulbasaur,372.0,1.0
42104,372,Barboach,Water,Ground,50,48,43,46,41,60,...,1.0,False,LC,1.0,1.0,Bulbasaur,372.0,Barboach,372.0,0.0
79,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,4.0,False,Untiered,2.0,462.0,Mothim,1.0,Bulbasaur,462.0,1.0
51724,462,Mothim,Bug,Flying,70,94,50,94,50,66,...,1.0,False,LC,2.0,1.0,Bulbasaur,462.0,Mothim,462.0,0.0
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,1.0,False,NFE,3.0,6.0,Charmeleon,1.0,Bulbasaur,6.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47791,419,Mega Latias,Dragon,Psychic,80,100,120,140,150,110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53730,479,Honchkrow,Dark,Flying,100,125,52,105,52,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61445,556,Servine,Grass,NaN,60,60,75,60,75,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68469,618,Maractus,Grass,NaN,75,86,67,106,67,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72650,655,Jellicent,Water,Ghost,100,60,70,85,105,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
#Filtering to just Pokemon without battles
orphan_pokemon = merged_w_tiers2[merged_w_tiers2['Battle_number'].isnull()]

In [189]:
#Dataframe of Pokemon that haven't battled

orphan_pokemon

,#_Second,Second_Name,Type 1_Second,Type 2_Second,HP_Second,Attack_Second,Defense_Second,Sp. Atk_Second,Sp. Def_Second,Speed_Second,...,Generation_First,Legendary_First,Tier_First,Battle_number,First_pokemon,First_name,Second_pokemon,Second_name,Winner,Did_the_first_pokemon_win?
1057,12,Blastoise,Water,NaN,79,83,100,85,105,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3442,33,Sandshrew,Ground,NaN,50,75,85,20,30,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4635,46,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6830,66,Poliwag,Water,NaN,40,50,40,40,40,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8109,78,Victreebel,Grass,Poison,80,105,65,100,70,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9421,90,Magneton,Electric,Steel,50,60,95,120,70,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15699,144,Ditto,Normal,NaN,48,48,48,48,48,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20029,183,Ariados,Bug,Poison,70,90,70,60,60,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26207,236,Ursaring,Normal,NaN,90,130,75,75,75,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36280,322,Hariyama,Fighting,NaN,144,120,60,40,60,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47791,419,Mega Latias,Dragon,Psychic,80,100,120,140,150,110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53730,479,Honchkrow,Dark,Flying,100,125,52,105,52,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61445,556,Servine,Grass,NaN,60,60,75,60,75,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68469,618,Maractus,Grass,NaN,75,86,67,106,67,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72650,655,Jellicent,Water,Ghost,100,60,70,85,105,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
#filtering out Pokemon that haven't battled
merged_reduced =merged_w_tiers2.dropna(subset=['Battle_number']).sort_values('Battle_number')

In [192]:
#Dataframe with only Pokemon that were involved in a battle

merged_reduced

,#_Second,Second_Name,Type 1_Second,Type 2_Second,HP_Second,Attack_Second,Defense_Second,Sp. Atk_Second,Sp. Def_Second,Speed_Second,...,Generation_First,Legendary_First,Tier_First,Battle_number,First_pokemon,First_name,Second_pokemon,Second_name,Winner,Did_the_first_pokemon_win?
65,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,3.0,False,LC,1.0,372.0,Barboach,1.0,Bulbasaur,372.0,1.0
42104,372,Barboach,Water,Ground,50,48,43,46,41,60,...,1.0,False,LC,1.0,1.0,Bulbasaur,372.0,Barboach,372.0,0.0
79,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,4.0,False,Untiered,2.0,462.0,Mothim,1.0,Bulbasaur,462.0,1.0
51724,462,Mothim,Bug,Flying,70,94,50,94,50,66,...,1.0,False,LC,2.0,1.0,Bulbasaur,462.0,Mothim,462.0,0.0
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,1.0,False,NFE,3.0,6.0,Charmeleon,1.0,Bulbasaur,6.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14362,132,Mr. Mime,Psychic,Fairy,40,45,65,100,120,90,...,6.0,True,OU,49998.0,800.0,Volcanion,132.0,Mr. Mime,132.0,0.0
17253,157,Articuno,Ice,Flying,90,85,100,95,125,85,...,6.0,True,OU,49999.0,800.0,Volcanion,157.0,Articuno,157.0,0.0
86647,800,Volcanion,Fire,Water,80,110,120,130,90,70,...,1.0,True,PU,49999.0,157.0,Articuno,800.0,Volcanion,157.0,1.0
86650,800,Volcanion,Fire,Water,80,110,120,130,90,70,...,2.0,False,PU,50000.0,196.0,Ampharos,800.0,Volcanion,800.0,0.0
21473,196,Ampharos,Electric,NaN,90,75,85,115,90,55,...,6.0,True,OU,50000.0,800.0,Volcanion,196.0,Ampharos,800.0,1.0

In [194]:
merged_reduced.columns

Index(['#_Second', 'Second_Name', 'Type 1_Second', 'Type 2_Second',
       'HP_Second', 'Attack_Second', 'Defense_Second', 'Sp. Atk_Second',
       'Sp. Def_Second', 'Speed_Second', 'Generation_Second',
       'Legendary_Second', 'Tier_Second', '#_First', 'First_Name',
       'Type 1_First', 'Type 2_First', 'HP_First', 'Attack_First',
       'Defense_First', 'Sp. Atk_First', 'Sp. Def_First', 'Speed_First',
       'Generation_First', 'Legendary_First', 'Tier_First', 'Battle_number',
       'First_pokemon', 'First_name', 'Second_pokemon', 'Second_name',
       'Winner', 'Did_the_first_pokemon_win?'],
      dtype='object')

In [201]:
merged_reduced[['#_Second',
       'HP_Second', 'Attack_Second', 'Defense_Second', 'Sp. Atk_Second',
       'Sp. Def_Second', 'Speed_Second', 'Generation_Second', '#_First', 'HP_First', 'Attack_First',
       'Defense_First', 'Sp. Atk_First', 'Sp. Def_First', 'Speed_First',
       'Generation_First', 'Battle_number',
       'First_pokemon', 'Second_pokemon',
       'Winner', 'Did_the_first_pokemon_win?']] = merged_reduced[['#_Second',
       'HP_Second', 'Attack_Second', 'Defense_Second', 'Sp. Atk_Second',
       'Sp. Def_Second', 'Speed_Second', 'Generation_Second', '#_First', 'HP_First', 'Attack_First',
       'Defense_First', 'Sp. Atk_First', 'Sp. Def_First', 'Speed_First',
       'Generation_First', 'Battle_number',
       'First_pokemon', 'Second_pokemon',
       'Winner', 'Did_the_first_pokemon_win?']].astype(int)

In [203]:
merged_reduced.columns

Index(['#_Second', 'Second_Name', 'Type 1_Second', 'Type 2_Second',
       'HP_Second', 'Attack_Second', 'Defense_Second', 'Sp. Atk_Second',
       'Sp. Def_Second', 'Speed_Second', 'Generation_Second',
       'Legendary_Second', 'Tier_Second', '#_First', 'First_Name',
       'Type 1_First', 'Type 2_First', 'HP_First', 'Attack_First',
       'Defense_First', 'Sp. Atk_First', 'Sp. Def_First', 'Speed_First',
       'Generation_First', 'Legendary_First', 'Tier_First', 'Battle_number',
       'First_pokemon', 'First_name', 'Second_pokemon', 'Second_name',
       'Winner', 'Did_the_first_pokemon_win?'],
      dtype='object')

In [206]:
final_df = merged_reduced[['#_First', 'First_Name',
       'Type 1_First', 'Type 2_First', 'HP_First', 'Attack_First',
       'Defense_First', 'Sp. Atk_First', 'Sp. Def_First', 'Speed_First',
       'Generation_First', 'Legendary_First', 'Tier_First','#_Second', 'Second_Name', 'Type 1_Second', 'Type 2_Second',
       'HP_Second', 'Attack_Second', 'Defense_Second', 'Sp. Atk_Second',
       'Sp. Def_Second', 'Speed_Second', 'Generation_Second',
       'Legendary_Second', 'Tier_Second',  'Battle_number',
       'Did_the_first_pokemon_win?']]

In [207]:
final_df

,#_First,First_Name,Type 1_First,Type 2_First,HP_First,Attack_First,Defense_First,Sp. Atk_First,Sp. Def_First,Speed_First,...,Attack_Second,Defense_Second,Sp. Atk_Second,Sp. Def_Second,Speed_Second,Generation_Second,Legendary_Second,Tier_Second,Battle_number,Did_the_first_pokemon_win?
65,372,Barboach,Water,Ground,50,48,43,46,41,60,...,49,49,65,65,45,1,False,LC,1,1
42104,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,48,43,46,41,60,3,False,LC,1,0
79,462,Mothim,Bug,Flying,70,94,50,94,50,66,...,49,49,65,65,45,1,False,LC,2,1
51724,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,...,94,50,94,50,66,4,False,Untiered,2,0
0,6,Charmeleon,Fire,NaN,58,64,58,80,65,80,...,49,49,65,65,45,1,False,LC,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14362,800,Volcanion,Fire,Water,80,110,120,130,90,70,...,45,65,100,120,90,1,False,PU,49998,0
17253,800,Volcanion,Fire,Water,80,110,120,130,90,70,...,85,100,95,125,85,1,True,PU,49999,0
86647,157,Articuno,Ice,Flying,90,85,100,95,125,85,...,110,120,130,90,70,6,True,OU,49999,1
86650,196,Ampharos,Electric,NaN,90,75,85,115,90,55,...,110,120,130,90,70,6,True,OU,50000,0
21473,800,Volcanion,Fire,Water,80,110,120,130,90,70,...,75,85,115,90,55,2,False,PU,50000,1