In [153]:
# Import relevant libraries
import requests
import re
import json
import pandas as pd

In [158]:
response = requests.get('https://www.smogon.com/dex/xy/pokemon/')

# pull JSON from response text via regex
data = "".join(re.findall(r'dexSettings = (\{.*\})', response.text))

# parse JSON
data = json.loads(data)

# query JSON to return relevant info
data = data.get('injectRpcs', [])[1][1].get('pokemon')

# make list of pokemon names
name_list = []
for row in data:
  name_list.append(row.get('name'))

# make list of tiers
tier_list = []
for row in data:
  tier_list.append(row.get('formats'))

In [160]:
# create df with name and tier values
tier_df = pd.DataFrame(name_list, columns = ["Name"])
tier_df.insert(1, "Tiers", tier_list)
tier_df

                   Name   Tiers
0             Bulbasaur    [LC]
1               Ivysaur   [NFE]
2              Venusaur    [RU]
3            Charmander    [LC]
4            Charmeleon   [NFE]
..                  ...     ...
876      Darmanitan-Zen    [UU]
877     Kangaskhan-Mega  [Uber]
878  Meloetta-Pirouette    [RU]
879     Aerodactyl-Mega    [UU]
880      Blastoise-Mega    [UU]

[881 rows x 2 columns]

In [163]:
pd.read_csv('Resources/pokemon.csv')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# standardize pokenames and combine df's